:root {
    --color1: hsl(13, 95%, 50%);
    --color2: hsl(38, 100%, 50%);
    --color3: hsl(13, 95%, 85%);
    --color3b: hsl(13, 95%, 10%);
    --color4: hsl(38, 100%, 85%);
    --color4b: hsl(38, 100%, 10%);
    --color5: hsl(110, 60%, 45%);
    --primaryfont: "Prompt", Helvetica, Arial, sans-serif;
    --secondaryfont: "Baskerville", Arial, serif;
}
/* 3-5 colors, preferably 3: 1-2 bold striking brand colors(ACCENT colors), 1-2 neutral colors(gray, creams, greys), 1 contrast color for CTAs */

body {
    width: 100%;
    margin: 0 auto;
    font-family: var(--primaryfont);

}

ul {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2em;
    list-style-type: none;
}

li {
    color: var(--color3);
}
a {
    text-decoration: none;
    color: var(--color2);
}

.navbar {
    background-color: var(--color3b);
    opacity: .5;
    position: fixed;
    width: 100%;
    
}

.hero {
    background-image: url(Pizza_with_tomatoes-full-size.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
}

.menu {
    background-color: var(--color3b);
    width: 100%;
    height: 110vh;

}

.about {
    background-color: var(--color4);
    width: 100%;
    height: 100vh;

}

.contact-us {
    background-color: var(--color4b);
    width: 100%;
    height: 100vh;
}